In [87]:
import pandas as pd

In [95]:
df = pd.read_csv("result_detail.csv",sep=',',names=['platform','domain','owner_name','link','pixelId','facebook_url','like_num','share_num','comment_num'])

In [96]:
df.tail()

,platform,domain,owner_name,link,pixelId,facebook_url,like_num,share_num,comment_num
322667,WOOCOMMERCE,creestock.com,Crazy Clothes,http://bit.ly/2QjbYoz,1.025026e+15,http://dmmspy.com//external-url/?data=eyJ1cmwi...,1,0,1
322668,SHOPIFY,ella18.com,Ella18,http://www.ella18.com,6.066647e+14,http://dmmspy.com//external-url/?data=eyJ1cmwi...,1,0,0
322669,SHOPIFY,www.wonergirls.com,Wonergirlsonline,http://bit.ly/2AqRHWM,4.340288e+14,http://dmmspy.com//external-url/?data=eyJ1cmwi...,89,15,5
322670,VIRALSTYLE,teefine.net,Love Sport,https://rebrand.ly/byh7zf,6.246112e+14,http://dmmspy.com//external-url/?data=eyJ1cmwi...,20,1,0
322671,VIRALSTYLE,teefine.net,Legends Football,https://rebrand.ly/qmykx2,6.411584e+14,http://dmmspy.com//external-url/?data=eyJ1cmwi...,14,6,1

In [97]:
len(df['domain'].value_counts())

20857

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("result/domain_detail.csv",sep='\t',names=['url','flag','email'])

In [4]:
df.head()

                       url   flag email
0      winespiritpromo.com  False   NaN
1            blemma.com.co  False   NaN
2         beautiesedge.com  False   NaN
3  www.borsetta-online.com   True   NaN
4              sambalou.be   True   NaN

In [10]:
df = df.fillna("none")

In [12]:
len(df)

17406

In [133]:
def get_emails(s):
    emails = set(re.findall(r'[0-9a-zA-Z_]{0,13}@[0-9a-zA-Z]{1,13}\.[0-9a-zA-Z]{1,13}',s))
    print emails
    avail_emails = []
    for email in emails:
        if "your" not in email and "example" not in email:
            avail_emails.append(email)
    return avail_emails

In [134]:
get_emails(response.text)

set([])

[]