# 查看商品详情数据，500w条,5w+ domain

In [74]:
import pandas as pd

In [75]:
product_df = pd.read_csv("result/product_detail.csv",sep=',',names=['platform','owner_name','domain','link','pixelId','facebook_url','like_num','share_num','comment_num'])

In [ ]:
# get best domain
count_df = product_df.groupby("domain")['like_num'].count().reset_index()
count_df.columns = ['domain','count_num']
count_df.sort_values("count_num",ascending=False)

In [76]:
product_df.tail()

,platform,owner_name,domain,link,pixelId,facebook_url,like_num,share_num,comment_num
5476704,SHOPIFY,Lineworker,templaran.com,https://templaran.com/products/nvl-tp037,NaN,http://dmmspy.com//external-url/?data=eyJ1cmwi...,7,1,0
5476705,SHOPIFY,Love Being in The Army,templaran.com,https://tinyurl.com/r2enwyj,NaN,http://dmmspy.com//external-url/?data=eyJ1cmwi...,2,0,1
5476706,WOOCOMMERCE,Cute Dog Lover,maxxingtee.net,https://bit.ly/34BtXvF,886096358165882,http://dmmspy.com//external-url/?data=eyJ1cmwi...,7,1,1
5476707,MERCHIZE,Old Man - Clothing,oldman3dltd.com,https://oldman3dltd.com/hh0015,NaN,http://dmmspy.com//external-url/?data=eyJ1cmwi...,12,2,0
5476708,SHOPIFY,Dogs before Dudes,templaran.com,https://rebrand.ly/tz3ubi,NaN,http://dmmspy.com//external-url/?data=eyJ1cmwi...,NaN,NaN,NaN

In [77]:
len(set(product_df['domain'].tolist()))

55931

# 查看已经搜索的Key

In [149]:
import pandas as pd
used_df = pd.read_csv("data_config/key_page_used.csv",sep='\t',names=['key','page'])

In [150]:
used_df.tail()

                                      key page
274145  t-shirt printing label private 3d   65
274146  t-shirt printing label private 3d   66
274147  t-shirt printing label private 3d   67
274148  t-shirt printing label private 3d   68
274149  t-shirt printing label private 3d   69

In [80]:
keys = set([i.split("\t")[0] for i in used_df['key'].tolist()])

In [62]:
key_df = pd.read_csv("data_config/key_word.csv",sep='\t')

In [81]:
len(set(used_df['key'].tolist()))

3450

# 查看检查有效的domain

In [111]:
domain_check_df = pd.read_csv('result/domain_check.csv',sep='\t',header=None,names=['domain','code'])

# 查看类目趋势变化

In [127]:
product_sort_df = pd.read_csv("result/product_detail_sort_0324_0327.csv",sep=',',names=['platform','owner_name','domain','link','pixelId','like_num','share_num','comment_num','search_word'])

In [128]:
today_key = product_sort_df[product_sort_df['like_num'] > 5]['search_word'].value_counts().head(10)

In [147]:
product_sort_df = pd.read_csv("result/product_detail_sort_1224_1227.csv",sep=',',names=['platform','owner_name','domain','link','pixelId','like_num','share_num','comment_num','search_word','title','describe'])

In [148]:
product_sort_df.tail()

,platform,owner_name,domain,link,pixelId,like_num,share_num,comment_num,search_word,title,describe
175,SHOPIFY,DEAD POSH,dead-posh.com,https://dead-posh.com/collections/t-shirts/pro...,NaN,0,0,0,shirts,TOP RANKING DUB - The Revolutionaries - 1978,TOP RANKING DUB - The Revolutionaries - 1978ht...
176,WOOCOMMERCE,Kool Kool Custom Design,kool-kool.com,https://kool-kool.com/product/car-bk88-full-jdm/,1211621452350048,0,0,0,shirts,Car Personalized Photo Apparel (BK88),Really nice the shirts and fast shipping.#revi...
177,MERCHKING,Love Elephants So Much,dsk-custom.com,https://rebrand.ly/elephant-flag,2268572206502831,0,0,0,shirts,ELEPHANT: Awesome Premium Blanket,🐘 Awesome Premium Blanket for Elephant Lovers....
178,MERCHKING,Nice shirts 462,cle-store.com,http://cle-store.com/B4L1-AF10-P085,469635903755104,0,0,0,shirts,B4L1AF10 CHEW,(y) This blanket is perfect for you !!!(y) Ord...
179,TEEHAG,Family T-shirt,teehag.com,https://teehag.com/user/rocketshirt/t-shirt/44...,2423549407739172,0,0,0,shirts,T-Shirts By rocketshirt | TeeHag,Limited Edition - MastodonBuy it now ==> https...

In [130]:
old_key = product_sort_df[product_sort_df['like_num'] > 5]['search_word'].value_counts().head(10)

In [138]:
print "today loss"
for i in old_key.index.tolist():
    if i not in today_key.index.tolist():
        print i

print "----------"
        
print "today new"
for i in today_key.index.tolist():
    if i not in old_key.index.tolist():
        print i

today loss
sweatshirts sweatshirt
----------
today new
face masks

In [139]:
today_key

shirts shirt                   379
gift                           376
tank top tops                  225
dress dresses                  224
hoodies hoodie                 163
phone iphone samsung huawei    103
jewelry bracelets necklaces     99
coffee mugs                     81
face masks                      66
jackets jacket                  60
Name: search_word, dtype: int64

In [140]:
old_key

gift                           376
shirts shirt                   367
hoodies hoodie                 337
dress dresses                  317
tank top tops                  216
jewelry bracelets necklaces    123
jackets jacket                 107
phone iphone samsung huawei    107
sweatshirts sweatshirt         102
coffee mugs                     89
Name: search_word, dtype: int64

# 研究title describe的发现

In [159]:
import pandas as pd
product_sort_df = pd.read_csv("result/product_detail_sort_1224_1227.csv",sep=',',names=['platform','owner_name','domain','link','pixelId','like_num','share_num','comment_num','search_word','title','describe'])
product_sort_df = product_sort_df.fillna("")

In [160]:
product_sort_df.tail()

,platform,owner_name,domain,link,pixelId,like_num,share_num,comment_num,search_word,title,describe
468,SHOPIFY,Artpicx,artpicx.com,https://bit.ly/2ZupCtk,2.58874e+15,0,0,0,custom print demand design,CREATE YOUR ARTPICX,Our artists are ready to design a piece of art...
469,SHOPIFY,Degree T Shirts,degreetshirts.com,https://bit.ly/2QsWwX9,,0,0,0,custom print demand design,Arrogance angers God Prov. 21:4 Print T Shirt ...,In spite of all the arrogance people display t...
470,SHOPIFY,Bookoo Babies,www.bookoobabies.com,https://shortlink.store/RPH1WgOGa,4.13108e+14,0,0,0,custom print demand design,Bookoo Babies Pink Deer Crib Sheet,Have you decided on a Nursery theme?! There ar...
471,WOOCOMMERCE,Karen Katrina Wood,karenkatrinawood.com,https://karenkatrinawood.com/,,0,0,0,custom print demand design,karenkatrinawood – karenkatrinawood,We Don’t Get To Choose Our Family; We Do Get T...
472,SHOPIFY,Motachic,www.motachic.com,https://bit.ly/2ZoK2nr,5.35022e+14,0,0,0,custom print demand design,Motachic Stripe Print Button Dress (2 Colors),😍Life isn't perfect but your outfit can be.🤩💰$...

In [240]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.probability import FreqDist

def cleantxt(raw):
    fil = re.compile(u'[^a-zA-Z,]+', re.UNICODE)
    res = fil.sub('', raw)
    if len(res) == 0:
        return ","
    else:
        return res

def lemmatizer_all(word,lemmatizer):
    low_word = word.lower()
    # 将名词还原为单数形式
    n_lemma = lemmatizer.lemmatize(low_word, pos='n')
    # 将动词还原为原型形式
    v_lemma = lemmatizer.lemmatize(n_lemma, pos='v')
    return cleantxt(v_lemma)

lemmatizer = ns.WordNetLemmatizer()
def clean_sentence(line):
    # cut word
    tokenized_text=word_tokenize(line)

    # normal word
    words = [lemmatizer_all(i,lemmatizer) for i in tokenized_text]

    return words
    
def get_hot(line):
    # pre
    lemmatizer = ns.WordNetLemmatizer()

    # cut word
    tokenized_text=word_tokenize(line)

    # remove invalid word
    str_puncutation = string.punctuation.replace("-","")

    # normal word
    words = [lemmatizer_all(i,lemmatizer) for i in tokenized_text if len(set(i) & set(str_puncutation)) == 0]

    # remove stop words
    stop_words = stopwords.words("english")
    stop_words += ["http","design","print","custom","demand","new","shopify","limit",'customize',"online","personalize",","]
    filtered_sentence = [w for w in words if not w in stop_words]


    fdist = FreqDist(filtered_sentence)
    tops=fdist.most_common(100)
    res = []
    for i in tops:
        res.append((i[0],i[1],nltk.pos_tag([i[0]])[0][1]))
    return res
    
# get sentence 
# line = "。".join(product_sort_df['title'].tolist()).decode("utf-8")
# get_hot(line)

In [216]:
import pandas as pd
new_product_sort_df = pd.read_csv("result/product_detail_sort_0324_0327.csv",sep=',',names=['platform','owner_name','domain','link','pixelId','like_num','share_num','comment_num','search_word','title','describe'])
new_product_sort_df = new_product_sort_df.fillna("")

old_product_sort_df = pd.read_csv("result/product_detail_sort_70.csv",sep=',',names=['platform','owner_name','domain','link','pixelId','like_num','share_num','comment_num','search_word','title','describe'])
old_product_sort_df = old_product_sort_df.fillna("")

In [227]:
# get sentence 
line = "。".join(new_product_sort_df['title'].tolist()).decode("utf-8")
new_res = get_hot(line)

line = "。".join(old_product_sort_df['title'].tolist()).decode("utf-8")
old_res = get_hot(line)

In [228]:
new_res[:20]

[(u'hoodie', 60, 'NN'),
 (u'shirt', 34, 'NN'),
 (u'tshirt', 33, 'NN'),
 (u'tumbler', 30, 'NN'),
 (u'top', 29, 'NN'),
 (u'love', 28, 'NN'),
 (u'mom', 27, 'NN'),
 (u'woman', 27, 'NN'),
 (u'clothe', 26, 'NN'),
 (u'day', 26, 'NN'),
 (u'gift', 25, 'NN'),
 (u'black', 23, 'JJ'),
 (u'dress', 23, 'NN'),
 (u'lace', 22, 'NN'),
 (u'dog', 21, 'NN'),
 (u'girl', 20, 'NN'),
 (u'best', 19, 'JJS'),
 (u'de', 18, 'NNS'),
 (u'tank', 18, 'NN'),
 (u'army', 17, 'NN')]

In [229]:
old_res[:20]

[(u'love', 18, 'NN'),
 (u'tshirt', 12, 'NN'),
 (u'hoodie', 11, 'NN'),
 (u'mug', 11, 'NN'),
 (u'case', 10, 'NN'),
 (u'phone', 10, 'NN'),
 (u'dress', 7, 'NN'),
 (u'clothe', 7, 'NN'),
 (u'poster', 7, 'NN'),
 (u'tee', 6, 'NN'),
 (u'treat', 6, 'NN'),
 (u'dog', 6, 'NN'),
 (u'men', 5, 'NNS'),
 (u'bed', 5, 'NN'),
 (u'coconut', 5, 'NN'),
 (u'shop', 5, 'NN'),
 (u'shirt', 5, 'NN'),
 (u'woman', 4, 'NN'),
 (u'vegan', 4, 'NN'),
 (u'shoe', 4, 'NN')]

In [230]:
print "today loss"
for i in old_res:
    if i[0] not in [j[0] for j in new_res]:
        print i

print "----------"
        
print "today new"
for i in new_res:
    if i[0] not in [j[0] for j in old_res]:
        print i

today loss
(u'poster', 7, 'NN')
(u'treat', 6, 'NN')
(u'coconut', 5, 'NN')
(u'vegan', 4, 'NN')
(u'quilt', 4, 'NN')
(u'graphic', 4, 'JJ')
(u'quality', 4, 'NN')
(u'co', 4, 'NN')
(u'pet', 4, 'NN')
(u'appetite', 3, 'NN')
(u'casual', 3, 'JJ')
(u'healthy', 3, 'JJ')
(u'winter', 3, 'NN')
(u'style', 3, 'NN')
(u'good', 3, 'JJ')
(u'valentine', 3, 'NN')
(u'bra', 3, 'NN')
(u'trudog', 3, 'NN')
(u'kind', 3, 'NN')
(u'lover', 3, 'NN')
(u'nev', 3, 'NN')
(u'bead', 3, 'NN')
(u'pattern', 3, 'NN')
(u'outfit', 3, 'NN')
(u'point', 3, 'NN')
(u'raise', 3, 'NN')
(u'tiger', 3, 'NN')
(u'product', 3, 'NN')
(u'save', 3, 'VB')
(u'world', 3, 'NN')
(u'sneaker', 3, 'NN')
(u'run', 3, 'VB')
(u'year', 3, 'NN')
(u'creeper', 3, 'NN')
(u'apparel', 3, 'NN')
(u'peacock', 2, 'NN')
(u'skin', 2, 'NN')
(u'shoebottoms', 2, 'NNS')
(u'saree', 2, 'NN')
(u'grape', 2, 'NN')
(u'mefamily', 2, 'RB')
(u'th', 2, 'NN')
(u'cool', 2, 'NN')
(u'sturgis', 2, 'NN')
(u'team', 2, 'NN')
(u'elegant', 2, 'NN')
(u'storehtlaf', 2, 'NN')
(u'even', 2, 'RB')
(u'body', 2, 'NN')
(u'boy', 2, 'NN')
(u'shark', 2, 'NN')
(u'iphone', 2, 'NN')
(u'tees', 2, 'NNS')
(u'watsonpre', 2, 'NN')
(u'beauty', 2, 'NN')
(u'notebook', 2, 'NN')
(u'neck', 2, 'NN')
(u'motorcycle', 2, 'NN')
(u'la', 2, 'NN')
(u'absence', 2, 'NN')
----------
today new
(u'tumbler', 30, 'NN')
(u'top', 29, 'NN')
(u'mom', 27, 'NN')
(u'tank', 18, 'NN')
(u'army', 17, 'NN')
(u'name', 17, 'NN')
(u'set', 17, 'NN')
(u'edition', 17, 'NN')
(u'camo', 16, 'NN')
(u'ring', 15, 'NN')
(u'fashion', 14, 'NN')
(u'premium', 14, 'NN')
(u'short', 14, 'JJ')
(u'fish', 14, 'NN')
(u'x', 14, 'NN')
(u'pink', 13, 'NN')
(u'blue', 12, 'NN')
(u'free', 12, 'JJ')
(u'cat', 12, 'NN')
(u'color', 12, 'NN')
(u'horse', 12, 'NN')
(u'paint', 12, 'NN')
(u'cross', 12, 'NN')
(u'jacket', 11, 'NN')
(u'grandma', 11, 'NN')
(u'leather', 11, 'NN')
(u'legging', 11, 'VBG')
(u'steel', 11, 'NN')
(u'vintage', 11, 'NN')
(u'coffee', 10, 'NN')
(u'necklace', 10, 'NN')
(u'red', 10, 'JJ')
(u'stainless', 10, 'NN')
(u'stay', 10, 'NN')
(u'silver', 9, 'NN')
(u'german', 9, 'JJ')
(u'floral', 9, 'JJ')
(u'white', 9, 'JJ')
(u'hemp', 9, 'NN')
(u'flag', 9, 'NN')
(u'sleeve', 9, 'NN')
(u'band', 8, 'NN')
(u'wear', 8, 'NN')
(u'sunflower', 8, 'NN')
(u'shoulder', 8, 'NN')
(u'police', 8, 'NNS')
(u'gopostore', 8, 'NN')
(u'fleece', 8, 'NN')
(u'store', 8, 'NN')
(u'kurta', 8, 'NN')
(u'piece', 8, 'NN')
(u'boot', 8, 'NN')
(u'yellow', 7, 'NN')
(u'distance', 7, 'NN')
(u'metal', 7, 'NN')
(u'make', 7, 'VB')
(u'mother', 7, 'NN')
(u'back', 7, 'RB')
(u'survive', 7, 'NN')
(u'round', 7, 'NN')

# 倒排建立最新、最热的商品列表

In [244]:
def get_index(raw,new_res):
    res = []
    line = clean_sentence(raw.decode("utf-8"))
    for i in new_res:
        if i[0] in line:
             res.append(i[0])
    return " ".join(res)

new_product_sort_df['reverse_index'] = new_product_sort_df['title'].apply(lambda x:get_index(x,new_res))

In [246]:
new_product_sort_df.to_csv("result_compare_with_index.csv",index=False,encoding='utf-8')